<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXP3og0V9q0d-kGdhq732Ros1RnbMfPAc</string>
	<key>GCM_SENDER_ID</key>
	<string>550104488908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshat.looksbeyond</string>
	<key>PROJECT_ID</key>
	<string>looksbeyondapp</string>
	<key>STORAGE_BUCKET</key>
	<string>looksbeyondapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550104488908:ios:1d618586857fb7ea771b69</string>
</dict>
</plist>